
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <title>AdminBite admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include ./partials/header %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include ./partials/sidebar %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-md-9 col-lg-9">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h5 class="m-b-0 text-white">Your Cart</h5>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                  <% if(cart) { %>
                                    <table class="table product-overview">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Product info</th>
                                                <th>Size</th>
                                                <th>Quantity</th>
                                                <th style="text-align:center">Price</th>
                                                <th style="text-align:center">Action</th>
                                            </tr>
                                        </thead>
                                      
                                          <tbody>
                                            <% cart.forEach(function(element) { %>
                                              <tr>
                                                <td width="150"><img src="<%= element['Images.Url'] %>" alt="iMac" width="80"></td>
                                                <td width="550">
                                                    <h5 class="font-500"><%= element.ProductName %></h5>
                                                </td>
                                                <td class="text-center"><%= element['Quantities.Size']%></td>
                                                <td width="70" class="text-center">
                                                    <%= element.Quantity%>
                                                </td>
                                                <td width="150" align="center" class="font-500">$<%= element.Price %></td>
                                                <td align="center"><a href="javascript:void(0)" class="text-inverse" title="" data-toggle="tooltip" data-original-title="Delete"><i class="ti-trash text-dark"></i></a></td>
                                              </tr>
                                            <% }) %>       
                                          </tbody>
                                       
                                        
                                    </table>
                                    <% } else { %>
                                      <h1 class="text-center">Your cart is empty</h1>
                                    <% } %>
                                    <hr>
                                    <div class="d-flex no-block align-items-center">
                                        <a href="/" class="btn btn-dark btn-outline"><i class="fas fa-arrow-left"></i> Continue shopping</a>
                                        <% if(cart) { %>
                                        <div class="ml-auto">
                                            <button class="btn btn-danger" id="check-out-btn1"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-3 col-lg-3">
                        <% if(totalPrice) { %>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">CART SUMMARY</h5>
                                <hr>
                                <small>Total Price</small>
                                <h2>$<%= totalPrice %></h2>
                                <hr>
                                <button class="btn btn-success" id="check-out-btn2">Checkout</button>
                                <button class="btn btn-secondary btn-outline" id="cancel-btn">Cancel</button>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
       All Rights Reserved by AdminBite admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
</footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="../../dist/js/app.min.js"></script>
    <script src="../../dist/js/app.init.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.min.js"></script>

    <script>
      function setCookie(name, value, days) {
        var d = new Date;
        d.setTime(d.getTime() + 24*60*60*1000*days);
        document.cookie = name + "=" + value + ";path=/;expires=" + d.toGMTString();
      };
      function deleteCookie(name) { setCookie(name, '', -1); };

      $('#cancel-btn').click(function(){
        deleteCookie('cart');
        deleteCookie('totalPrice');
        window.location.replace("/user/cart/");
      })
      $('#check-out-btn2').click(function(){
        $.post( "/user/cart/checkout").done(
          function(response){
            deleteCookie('cart');
            deleteCookie('totalPrice');
            window.location.replace("/user/orders/");
          })
          .fail(
            function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.responseJSON);
              alert(jqXHR.responseJSON.original.message);
            }
          );
      })
      $('#check-out-btn1').click(function(){
        $.post( "/user/cart/checkout").done(
          function(response){
            deleteCookie('cart');
            deleteCookie('totalPrice');
            window.location.replace("/user/orders/");
          })
          .fail(
            function(jqXHR, textStatus, errorThrown) {
              console.log(jqXHR.responseJSON);
              alert(jqXHR.responseJSON.original.message);
            }
          );
      })
    </script>
    <script>
        $('#search-btn').click(function(){
          var searchText = $("#seach-field").val();
          if(searchText != ''){
            var url = '/products/find/'+ searchText;
            window.location.replace(url);
          } 
        })
      
      </script>
</body>

</html>