<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
  <title>AdminBite admin Template - The Ultimate Multipurpose admin template</title>
  <!-- Custom CSS -->
  <link href="../../dist/css/style.min.css" rel="stylesheet">

  <link href="/assets/libs/toastr/build//toastr.min.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <% include ./partials/header %>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <% include ./partials/sidebar %>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
          <!-- Column -->
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title"><%= product[0].ProductName %></h3>
                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="white-box text-center"> <img src="<% if(product[0].Images[0]){ %><%= product[0].Images[0].Url %><% } %>"
                        style="max-height:400px;" class="img-responsive"> </div>
                  </div>
                  <div class="col-lg-9 col-md-9 col-sm-6">
                    <h4 class="box-title m-t-40">Product description</h4>
                    <p><%= product[0].Description %></p>
                    <h2 class="m-t-40">$<%= product[0].Price %></h2>
                    <select id="product-size" class="form-control" style="max-width: 200px">
                        <% product[0].Quantities.forEach(function(element) { %>
                        <option value="<%= element.Size %>"><%= element.Size %> in stock: <%= element.QuantityOnStock %></option>
                        <% }) %>
                      </select>
                    <div class="d-flex mt-3">
                        <button class="btn btn-dark btn-rounded m-r-5" id="add-to-cart" data-toggle="tooltip" title=""
                        data-original-title="Add to cart"><i class="ti-shopping-cart"></i> </button>
                        <button class="btn btn-primary btn-rounded" id="buy-now-btn"> Buy Now </button>
                    </div>
                    
                    
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3 class="box-title m-t-40">General Info</h3>
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr>
                            <td width="390">Brand</td>
                            <td> Stellar </td>
                          </tr>
                          <tr>
                            <td>Product Category</td>
                            <td> Category </td>
                          </tr>
                          <tr>
                            <td>Product Sub-Category</td>
                            <td> Sub-Category </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <h3 class="box-title m-t-40">Reviews</h3>
                      <div class="row">
                        <div class="col-12 col-lg-6">
                            <h5>Add new review</h5>
                            <form class="form-horizontal m-t-20" action="./<%= product[0].ProductID%>" method="POST">
                              <div class="form-group">
                                  <label for="exampleInputPassword1">Review Score</label>
                                  <input type="number" name="Score"  required class="form-control"  placeholder="Enter Scrore from 1 to 5" min="1" max="5">
                              </div>
                              <div class="form-group">
                                  <label for="exampleInputPassword1">Review Text</label>
                                  <textarea name="ReviewText" required class="w-100" rows="10"></textarea>
                              </div>
                              
                              
                              <div class="form-group text-center">
                                  <div class="p-b-20">
                                      <button class="btn btn-block btn-lg btn-info d-block" type="submit">Submit</button>
                                  </div>
                              </div>
                              
                
                            </form>
                        </div>

                      </div>
                      
                      <% if (product[0].Reviews.length > 0) { %>
                        <% product[0].Reviews.forEach(function(element) { %>
                          <h5 class="text-info mt-3 pt-3" style="border-top: 1px solid #dee2e6;"><%= element.CustomerName %></h5>
                          <p> <%= element.Score %> Stars <br>
                              <span class="font-weight-bold"><%= element.ReviewText %>  </span><br>
                              Date : <%= element.createdAt.toLocaleString('gb') %>
                          </p>
                        <% }) %>
                      <% } else {%>
                        There is no reviews for this product
                      <% } %>
                      
                    </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Column -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer text-center">
        All Rights Reserved by AdminBite admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- apps -->
  <script src="../../dist/js/app.min.js"></script>
  <script src="../../dist/js/app.init.js"></script>
  <script src="../../dist/js/app-style-switcher.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
  <!--Wave Effects -->
  <script src="../../dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="../../dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="../../dist/js/custom.min.js"></script>
  <script src="/assets/libs/toastr/build/toastr.min.js"></script>
 
  <script>
  $('#add-to-cart').click(function(){
    var size = $('#product-size').val()
    var query = '?size=' + size
    $.post( "/products/addtocart/<%= product[0].ProductID %>" + query, function( data ) {
      toastr.success('Success !', 'Product added to cart');
    });
  })

  $('#buy-now-btn').click(function(){
    var size = $('#product-size').val()
    var query = '?size=' + size
    $.post( "/products/addtocart/<%= product[0].ProductID %>" + query, function( data ) {
      window.location.replace("/user/cart/");
    });
  })

  
  </script>
  <script>
      $('#search-btn').click(function(){
        var searchText = $("#seach-field").val();
        if(searchText != ''){
          var url = '/products/find/'+ searchText;
          window.location.replace(url);
        } 
      })
    
    </script>
</body>

</html>